<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        // Properly embedding the status variable using EJS
        var status = "<%= status %>";
        // Parsing the status to check its value
        if (status === "verified") {
            // Displaying the confirmation dialog
            if (confirm("Do you want to login?")) {
                // Redirecting to the login page if confirmed
                window.location.href = "http://localhost:3000";
            }
        }
    </script>
</head>
<body>
    <h1><%= email %></h1>
    <form action="" method="post">
        <input type="password" id="password" name="password" placeholder="Password"> <br>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
